<CsoundSynthesizer>
<CsOptions>
-i{{ input }}
-o{{ output }} {{ flags }}
</CsOptions>
<CsInstruments>
sr = {{ sample_rate }}
ksmps = {{ ksmps }}
nchnls = 1
0dbfs = 1

instr	1

    aIn in
    {{ effect }}
    {{ analyzer }}
    out aOut

endin

</CsInstruments>
</CsoundSynthesizer>