<CsoundSynthesizer>
<CsOptions>
{{ input }}
{{ output }} {{ flags }}
</CsOptions>
<CsInstruments>
sr = {{ sample_rate }}
ksmps = {{ ksmps }}
nchnls = 1
0dbfs = 1

instr	1

{% for channel in channels %}
    chn_k "{{ channel.name }}", 3
    chnset {{ channel.value }}, "{{ channel.name }}" ; not sure if the channel value should be set on startup
    k_{{ channel.name}} chnget "{{ channel.name }}"

    {% if add_debug_channels %}
    chn_k "{{ channel.name }}_debug", 3    ; normalized effect params in the (0, 1) range
    {% endif %}
{% endfor %}

    aIn in
{% if effect is not none %}
    {{ effect }}
{% else %}
    {# analyser uses aOut as input #}
    aOut = aIn
{% endif %}
    {{ analyser }}
    out aOut

    {% if add_debug_channels %}

    {% for ch in channels %}k_{{ ch.name }}_debug chnget "{{ ch.name }}_debug"
    {% endfor %}

    fout "{{ debug_file_name }}", 14, aIn, aOut{% for ch in channels %}, upsamp(k_{{ ch.name }}_debug) {% endfor %}
    {% endif %}
endin

</CsInstruments>
<CsScore>
i 1 0 {{ duration }}
e
</CsScore>
</CsoundSynthesizer>
