<CsoundSynthesizer>
<CsOptions>
-i{{ input }}
-o{{ output }} {{ flags }}
</CsOptions>
<CsInstruments>
sr = 44100
ksmps = 32
nchnls = 1

instr	1

    aIn in
    {{ effect }}
    out aOut

endin

</CsInstruments>
<CsScore>
;;; TODO: play as long as file lasts. when live, use turnon instead
i 1 0 10 ; play it for 10 seconds
e
</CsScore>
</CsoundSynthesizer>