{% if osc_route %}    
    #define IP_ADDRESS	# "{{osc_address}}" #
    #define PORT 		# {{osc_port}} #
{% endif %}

    ; ***************
    ; START globals

{% for global in global_variables %}

{{ global }}

{% endfor %}

    ; ***************
    ; END globals

; ***************
; define the input audio to use in analysis 
aAnalyserInput = {{input}}

{% if osc_route %}

; ***************
; metro 
; corresponding to a trigger every 2k

kwhen           init 0
ki              init 0
ki              += 1
km              trigger ki%2, 1, 1

{% endif %}

{% for extractor in feature_extractors %}

    ;***** START {{extractor.name}} *****

{{ extractor.csd }}

    ;***** END {{extractor.name}} *****

{% endfor %}

{% if osc_route %}

OSCsend kwhen, $IP_ADDRESS, $PORT, "{{ osc_route }}", "{{"f" * osc_channels|length}}", {{ osc_channels|join(", ") }}
kwhen += km

{% endif %}