{% if osc_route %}
    #define IP_ADDRESS	# "{{osc_address}}" #
    #define PORT 		# {{osc_port}} #
{% endif %}

    ; ***************
    ; START globals

{% for global in global_variables %}

{{ global }}

{% endfor %}

    ; ***************
    ; END globals

; ***************
; define the input audio to use in analysis
aAnalyserInput = {{input}}


{% for extractor in feature_extractors %}

    ;***** START {{extractor.name}} *****

{{ extractor.csd }}

    ;***** END {{extractor.name}} *****

{% endfor %}

{% if osc_route %}

; ***************
; metro

istart date
ktime times
ktimestamp = istart + ktime

kwhen           init 0
kwhen           += 1

OSCsend kwhen, $IP_ADDRESS, $PORT, "{{ osc_route }}", "d{{"f" * osc_channels|length}}", ktimestamp, {{ osc_channels|join(", ") }}

{% endif %}
