; ***************
; channel init (from featexmod)

    chnset 25, "pitchFilterSize"
    chnset 150, "pitch_low"
    chnset 800, "pitch_high"

; ***************
; pitch tracking
    
    kpitch_low      chnget "pitch_low"
    kpitch_high     chnget "pitch_high"
    kpitch_low      init 100
    kpitch_high     init 1000          

    kd 		        = 0.1
    kloopf		    = 20
    kloopq		    = 0.3
    acps, alockp	plltrack {{input}}, kd, kloopf, kloopq, kpitch_low, kpitch_high, ampdbfs(knoiseFloor_dB-8)
    kcps		    downsamp acps

    kmedianSize	    chnget "pitchFilterSize"
    kcps	        mediank	kcps, kmedianSize, 256
    kcps            limit kcps, kpitch_low, kpitch_high
    kcps            tonek kcps, 50

    kcps		    samphold kcps, kgate2
    ; ksemitone       = limit:k((log2(kcps/440)*12)+69, 0, 127)


; ***************
; normalization

    kpitch_n        = limit(divz(kcps-kpitch_low, kpitch_high-kpitch_low, 1), 0, 1)    ; normalized and offset

; ***************
; return features

chnset kpitch_n, "kpitch_n"