; ***************
; channels
chnset -61, "inputNoisefloor"

; ***************
; amplitude tracking
    krms            rms {{input}}   ; simple level measure 
    krms            = krms*2
    krms_dB         = dbfsamp(krms)

    knoiseFloor_dB	chnget "inputNoisefloor"
    kgate		    = (krms_dB < knoiseFloor_dB ? 0 : 1)	;  gate when below noise floor (for sampholding centroid and pitch etc)
    isecond_dB      = 9
    kgate2		    = (krms_dB < knoiseFloor_dB+isecond_dB ? 0 : 1)	;  gate when close to noise floor (for sampholding centroid and pitch etc)
    klowscaler      = limit(dbfsamp(krms)-knoiseFloor_dB, 0, isecond_dB)/isecond_dB      ; scaler to fade out different things towards the noise floor
    krms_dB_n       = (krms_dB/abs(knoiseFloor_dB))+1

; ***************
; limiter
    krms            limit krms, 0, 1

; ***************
; return features

chnset krms, "krms"